.container {
  width: 607px;
  height: 529px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #071f54 0%, #2f5780 100%);
}

.topBar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}

.topBar input {
  display: flex;
  width: 400px;
  height: 55px;
  background-color: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 25px;
  font-weight: 400;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ebfffc;
  border-radius: 40px;
}

.weather-image {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}

.flex-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 8ch;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}

.data-container {
  margin-top: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.icon {
  margin-top: 10px;
}

.data {
  font-size: 30px;
  font-weight: 400;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.text {
  font-size: 20px;
  font-weight: 400;
}
