.nav {
    margin: 0;
    width: auto;
    height: 60px;
    background-color: #555;
}

.ul-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 60px;
    list-style: none;
    margin: 0 auto;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}